.vs/ 
*.slo
*.lo
*.o
*.obj
*.suo
*.tlog
*.ilk
*.meta
*.pch
*.pdb
*.idb
*.gch
*.res
*.dll
*.so
*.dylib
*.exe
*.out
*.app
*.exp
*.lib
*.user
*.userosscache
*.sln.docstates
*.suo.old
*.suo.new
*.vcxproj.user
*.dbmdl
*.sln.jfm
PA9/[Bb]in/
PA9/[Oo]bj/
PA9/[Oo]ut/
PA9/[Bb]uild/
PA9/x64/
PA9/PA9/x64/
PA9/x86/
PA9/Debug/
PA9/Release/
vcpkg_installed/
.vcpkg-root
vcpkg-packages/