.vs/ 
*.slo
*.lo
*.o
*.obj
*.suo
*.tlog
*.ilk
*.meta
*.pch
*.pdb
*.idb
*.gch
*.res
*.dll
*.so
*.dylib
*.exe
*.out
*.app
*.exp
*.lib
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo.old
*.suo.new
*.vcxproj.user
*.dbmdl
*.sln.jfm
[Bb]in/
[Oo]bj/
[Oo]ut/
[Bb]uild/
x64/
x86/
Debug/
Release/
vcpkg_installed/
.vcpkg-root
vcpkg-packages/